@{
    ViewData["Title"] = "Register Page";
}
@model User


<div class="text-center">
    <h1 class="display-4 mb-5">Welcome to Dojo Meet Up Center</h1>
    <div class="d-flex">
        <form class="one" action="/users/create" method="post">
        <h2>Register</h2>
            <label class="d-block">First Name: </label>
            <span class="text-danger d-block" asp-validation-for="FirstName"></span>
            <input asp-for="FirstName">
            <label class="d-block">Last Name: </label>
            <span class="text-danger d-block" asp-validation-for="LastName"></span>
            <input asp-for="LastName">
            <label class="d-block">Email: </label>
            <span class="text-danger d-block" asp-validation-for="Email"></span>
            <input asp-for="Email">
            <label class="d-block">Password: </label>
            <span class="text-danger d-block" asp-validation-for="Password"></span>
            <input asp-for="Password">
            <label class="d-block">Confirm Password: </label>
            <span class="text-danger d-block" asp-validation-for="ConfirmPassword"></span>
            <input asp-for="ConfirmPassword">
            <input type="submit" class="d-block sbmt" value="Register">
        </form>
        <div class="one">
                <partial name="_Login"/>
        </div>
    </div>
</div>
